<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dress.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @dress.contact %>
</p>

<%= link_to 'Edit', edit_dress_path(@dress) %> |
<%= link_to 'Back', dresses_path %>
