<p id="notice"><%= notice %></p>

<%= image_tag @suit.photo.url %>

<p>
  <strong>Name:</strong>
  <%= @suit.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @suit.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @suit.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @suit.email %>
</p>

<h2>Samples</h2>
<% @suit.suit_samples.each do |suit_sample| %>
  
     <%=image_tag  suit_sample.samples %>
  
<% end %>

<h2>Add samples:</h2>
<%= form_for([@suit, @suit.suit_samples.build]) do |f| %>
 <div class="field">
    <%= f.file_field :samples%> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_suit_path(@suit) %> |
<%= link_to 'Back', suits_path %>
