<%= image_tag @makeup.image.url(:small) %>

<p>
  <strong>Name:</strong>
  <%= @makeup.name %>
</p>
 
<p>
  <strong>telephone:</strong>
  <%=  @makeup.telephone %>
</p>

 
<p>
  <strong>mobile:</strong>
  <%= @makeup.mobile %>
</p>

<p>
  <strong>address:</strong>
  <%= @makeup.address %>
</p>

<p>
  <strong>email:</strong>
  <%=  @makeup.email%><br>
  <%= link_to 'show packages', showp_makeup_path(@makeup) %> 
  <%= link_to 'show sample pictures', showsample_makeup_path(@makeup) %> 

