<h2>comments</h2>
<% @vendor.comments.each do |comment| %>
  <p>
  <%= comment.body %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Delete Comment', [comment.vendor,comment],method: :delete,data: { confirm: 'Are you sure?' } %><br><br>
   </p>
    <% end %>
  <% end %>
<% end %>

<%= form_for([@vendor, @vendor.comments.build]) do |f| %>
  <p>
  <%= f.label :Comment %><br>
  <%= f.text_field :body %>
  </p>
  <%= f.submit %>
<%end%>
