<!DOCTYPE html>
<html>
<head>
  <title>Bridewebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <div class="header">
      <div class="container0">
        <div class="nav-top">
          <div class="row">
            <div class="col-md-4">
              <a href="#" class="logo-icon">
                <%= link_to image_tag("logo-1.png", :border => 0), {:action => 'HomePage', :controller => 'welcome'} %>
              </a>
            </div>
            <div class="col-md-4 ">
              <%= form_tag(vendors_path, :method => "get", class: "navbar-form", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search by name" %>
                <%= image_submit_tag("search1.png") %><br>
              <% end %>
            </div>
            <div class="col-md-4">
              <ul class="nav-out">
                <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="nav-bottom">
          <div class="nav-menu">
            <ul class="menu">
              <li><a href="<%= url_for controller: 'vendors', action: 'indexDresses' %>">Dress</a></li>
              <li><a href="<%= url_for controller: 'vendors', action: 'indexSuites' %>">Suit</a></li>
              <li><a href="<%= url_for controller: 'vendors', action: 'indexMakeup' %>">Makeup</a></li>
              <li><a href="<%= url_for controller: 'vendors', action: 'indexHairdressers' %>">Hairdresser</a></li>
              <li><a href="<%= url_for controller: 'vendors', action: 'indexDjs' %>">Dj</a></li>
              <li><a href="<%= url_for controller: 'vendors', action: 'indexPhotographers' %>">Photographer</a></li>
              <li><a href="<%= url_for controller: 'vendors', action: 'indexSpa' %>">Spa & Beauty Center</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">Venue<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= url_for controller: 'vendors', action: 'indexYacht' %>">Yacht</a></li>
                  <li><a href="<%= url_for controller: 'vendors', action: 'indexVilla' %>">Villa</a></li>
                  <li><a href="<%= url_for controller: 'vendors', action: 'indexHall' %>">Hall</a></li>
                  <li><a href="<%= url_for controller: 'vendors', action: 'indexGarden' %>">Garden</a></li>
                </ul>
              </li>
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <%= link_to 'New', new_vendor_path %></br>
                <%end%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<%= yield %>
</body>
</html>
