
<p id="notice"><%= notice %></p>

<%= image_tag @dj.image.url %>

<p>
  <strong>Name:</strong>
  <%= @dj.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dj.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dj.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dj.email %>
</p>

<h2> Packages </h2>
<% @dj.djpackages.each do |djpackage| %>
  <p>
    <strong>Name:</strong>
    <%= djpackage.name %>
  </p>
 
  <p>
    <strong>Description</strong>
    <%= djpackage.description %>
  </p>
   <p>
    <strong>Price</strong>
    <%= djpackage.price %>
  </p>
<% end %>
<% if user_signed_in? %>
<% if current_user.admin? %>
<h2>Add a package:</h2>
<%= form_for([@dj, @dj.djpackages.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
    <p>
    <%= f.label :price %><br>
    <%= f.text_area :price %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>
<% end %>
<%= link_to 'Back', djs_path %>



<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_dj_path(@dj) %> 
 <% end %>
 <% end %>
