<%= form_for :vendor, url: vendors_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
   <p>
    <%= f.label :Type %><br>
    <%= f.text_area :entry%>
  </p>

 
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
 
  <p>
    <%= f.label :telephone %><br>
    <%= f.text_area :telephone %>
  </p>

 <p>
    <%= f.label :address %><br>
    <%= f.text_area :address%>
  </p>

   <p>
    <%= f.label :mobile %><br>
    <%= f.text_area :mobile%>
  </p>

 <p>
    <%= f.label :location %><br>
    <%= f.text_area :location%>
  </p>
   <p>
    <%= f.label :capacity %><br>
    <%= f.text_area :capacity%>
  </p>
 
   <%= f.file_field :image %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>