<link href="css/vendors.css" rel="stylesheet">
<ul class="dropdown1">
	<li class="dropdown1">
	  <h1 class="dropdown1" > Filter by</h1>
	    <%= search_form_for @q, url: indexHairdressers_vendors_path do |f| %>
		  <h2 class="dropdown1">Name<span class="bullet"></span></h2>
	  	<div class="dropdown1"><br>
        <p><%= f.text_field :name_cont, :placeholder => "name", size:"7x7" %> </p></div>
 	</li>
	<li class="dropdown1">
		<h2 class="dropdown1">Location<span class="bullet"></span></h2>
		<div class="dropdown1"><br>
      <p><%= f.text_field :location_cont,:placeholder => "location", size:"7x7"   %> </p></div>
	</li>
	<li class="dropdown1">
		<h2 class="dropdown1">Price<span class="bullet"></span></h2>
		<div class="dropdown1"><br>
      <p>From  <%= f.text_field :packages_price_gteq , size: "2x2",:placeholder => "min" %> To  <%= f.text_field :packages_price_lteq , size: "2x2",:placeholder => "max" %> </p></div>
	</li>
  <br>
	<h2 class="dropdown3" > <%=  f.submit "Go" %> </h2>
    <% end %>
    <% if @vendors.size.zero? %>
      <p id="notice"><%= notice %> 
      </p> 
    <% end %> 
</ul>

<div id="section">
  <h4 class="column"> &nbsp;&nbsp;&nbsp;Hairdressers</h4>
  <h4 class="column">  
    <ul> 
      <ul class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false" id="nn">   Sort By  <span class="caret"></span></a>
        <ul class="dropdown-menu" >
          <li id="nn"><%= sort_link(@q, :name, 'Name', default_order: :asc, hide_indicator: true ) %></li>
          <li id="nn"><%= sort_link(@q, :avgprice , 'Price Low to High',  default_order: :asc, hide_indicator: true) %> </li>
          <li id="nn"><%= sort_link(@q, :avgprice , 'Price High to Low',  default_order: :desc, hide_indicator: true) %> </li>
        
        </ul>
      </ul>
    </ul> 
  </h4>
  <% @vendors.in_groups_of(3, false) do |vendors| %>
    <div class="row">
      <% vendors.each do |vendor| %>
        <div class="col-md-3">
          <%= image_tag vendor.image.url(:small), :size => "200x200" %>  <br> 
          <%= link_to vendor.name, vendor %><br>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_vendor_path(vendor) %>
              <%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %><br>
            <% end %>
          <%end%>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

