<%= search_form_for @q, url: indexDjs_vendors_path do |f| %>
  <%= f.label :name %>
  <%= f.search_field :name_cont %>
  <%= f.label :location %>
  <%= f.search_field :location_cont %>
  <%= f.label :packages_price_gteq, 'packages prices greater than' %>
  <%= f.text_field :packages_price_gteq %>
  <%= f.label :packages_price_lteq, 'packages prices less than' %>
  <%= f.text_field :packages_price_lteq%>
  <p>
    Sort:
    <%= sort_link(@q, :packages_price) %>
  </p>
  
  <%= f.submit %>
<% end %>

 <% if @vendors.size.zero? %>
 <p id="notice"><%= notice %> </p> 
 <% end %> 
 
<% @vendors.each do |vendor| %>
  <%= image_tag vendor.image.url(:small),{} %><br>
  <%= link_to vendor.name, vendor %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_vendor_path(vendor) %> 
      <%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>
   <% end %>
<%end%>
  
