<%= form_tag url_for(:controller => 'vendors', :action => 'indexDresses'), :method => 'get' do %>  <%= text_field_tag :search, params[:search], placeholder: "Search Dresses stores" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

 <h4 class="column">Dresses</h4>
    <% @vendors.in_groups_of(3, false) do |vendors| %>
        <div class="row">
            <% vendors.each do |vendor| %>
                <div class="col-md-3">
                        <%= image_tag vendor.image.url(:small),{} %><br>
                        <%= link_to vendor.name, vendor %>
                        <% if user_signed_in? %> 
                            <% if current_user.admin? %>
                              <%= link_to 'Edit', edit_vendor_path(vendor) %> 
                              <%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %><br>
                            <% end %>
                        <%end%>
                </div>
            <% end %>
        </div>
    <% end %>



  

