<% @vendor.brands.each do |brand| %>

 <strong>name:</strong>
    <%=brand.bName%><br>
   <strong>Designer:</strong>
<%=  brand.designer%><br>
<% if user_signed_in? %>
<% if current_user.admin? %>
  <%= link_to 'Delete Brand', [brand.vendor, brand],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
                 <%= link_to 'Edit Package', edit_vendor_brand_path(@vendor, brand) %> <br><br>
</p>
<% end %>
<% end %>
<% end %>
</p>

<% if user_signed_in? %>
<% if current_user.admin? %>
  <%= form_for([@vendor, @vendor.brands.build]) do |f| %>
  <p>
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :bName %>
  </p>
  <p>
    <%= f.label :Designer %><br>
    <%= f.text_area :designer %>
  </p>
 
  <p>
  <%= f.submit %> 
  </p>
<% end %>
<% end %>
<% end %>
