 <html lang="en">
    <head>
      <link href='css/fontfamily.css' rel='stylesheet'>
      <link href="css/vendors.css" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <meta charset="utf-8">
      
  <body>
<div class="container">
  <div class="slider">
       <h1> <%= @vendor.name %></h1>
    <% @vendor.samples.each do |sample| %>
      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Description</h1> <br>
                   <%= sample.info%><br> 
            
            </div>
            <div class="slide-img col-xs-3">
              <%= image_tag sample.image.url(:small) %>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
              <% if user_signed_in? %> 
                <% if current_user.admin? %>
                  <%= link_to 'Delete Sample', [sample.vendor, sample],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br><br>
                  <% end %>
                <% end %></div>
          </div>
        </div>      
      </div>
    <% end %>
              
            
  </div> 
  <div class="slider-nav">
      <a href="#" class="arrow-prev"><img src="/assets/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><img src="/assets/arrow-next.png"></a>
    </div> 
             
           </div>
             <div class="row">
               <div class="col-sm-4">        
               </div>
               <div class="col-sm-4">        
               </div>
               <div class="col-sm-4"> 
                 <div class="box">
                   <div id="box53100"></div>
                     <strong> CONTACT US!</strong>
                       <p>
                         <img src = "/assets/heart-icon.png">
                           <h>(</h><%= @vendor.avg_rating%><h>)</h>
                       </p>
                       <p>
                         <%= @vendor.location %>
                       </p>
                       <p>
                         <%= @vendor.address %>
                       </p>
                       <p>
                         <%= @vendor.telephone %>
                       </p>
                       <p>
                         <%= @vendor.mobile %>
                       </p>
                       <p>
                         <%= @vendor.email %>
                       </p>
                       <p>
                         <% if @vendor.entry == "Villa" %>
                           <%= @vendor.capacity %> <h>Guests</h>
                         <% end %>
                       </p>
                        <p>
                          <% if @vendor.entry == "Yacht" %>
                            <%= @vendor.capacity %> <h>Guests</h>
                          <% end %>
                        </p>
                        <p>
                          <% if @vendor.entry == "Hall"  %>
                            <%= @vendor.capacity %> <h>Guests</h></br>
                            <%= @vendor.stars %> <h>stars</h>
                          <% end %>
                        </p>
                        <p>
                          <% if @vendor.entry == "Garden" %>
                            <%= @vendor.capacity %> <strong>Guests</strong>
                            <%= @vendor.stars %> <h>stars</h>
                          <% end %>
                        </p>
                    </div>
                 </div>
             </div>
         </body>
     </html>
     
  <% if @vendor.entry != "Suit" %>
  <% if @vendor.entry != "Dress" %>
    <% @vendor.packages.each do |package| %>
      <strong>name:</strong>
        <%= package.name%><br>
      <strong>price:</strong>
        <%= package.price%><br>
      <strong>description:</strong>
        <%= package.description%><br><br>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Delete Package', [package.vendor, package], method: :delete,data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit Package', edit_vendor_package_path(@vendor, package) %> <br><br>
      <% end %>
   <% end %>
   <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= form_for([@vendor, @vendor.packages.build]) do |f| %>
            <p>
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </p>
            <p>
              <%= f.label :price %><br>
              <%= f.text_area :price %>
            </p>
            <p>
              <%= f.label :description %><br>
              <%= f.text_area :description %>
            </p>
            <p>
              <%= f.submit %>
            </p>
        <% end %>
      <% end %>
    <% end %>
  <%end%>
  <%end%>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= form_for([@vendor, @vendor.samples.build]) do |f| %>
          <p>
            <%= f.file_field :image %>
          </p>    <p>
              <%= f.label :description %><br>
              <%= f.text_area :info %>
            </p>
            <%= f.submit %>
       <% end %>
      <% end %>
    <% end %>
  <% if @vendor.entry == "Suit" || @vendor.entry == "Dress" %>
    <% @vendor.brands.each do |brand| %>
      <strong>name:</strong>
      <%=brand.bName%><br>
      <strong>Designer:</strong>
      <%= brand.designer%><br>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Delete Brand', [brand.vendor, brand],method: :delete,data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit Package', edit_vendor_brand_path(@vendor, brand) %> <br><br>
      <% end %>
    <% end %>
  <% end %>
   <% if user_signed_in? %>
     <% if current_user.admin? %>
       <%= form_for([@vendor, @vendor.brands.build]) do |f| %>
         <p>
           <%= f.label :name %><br>
           <%= f.text_field :bName %>
         </p>
         <p>
           <%= f.label :Designer %><br>
           <%= f.text_field :designer %>
         </p>
         <p>
          <%= f.submit %>
         </p>
       <% end %>
     <% end %>
   <% end %>
  <%end%>
   
  
  <h2>Add a rating:</h2>
    <%= form_for([@vendor, @vendor.ratings.build]) do |f| %>
      <p>
        <%= f.label :rating %><br>
        <%= f.text_field :score %>
      </p>
        <%= f.submit %>
    <%end%> 
  
<%= render 'comments/comment' %>
