  <p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
 
<link href='css/fontfamily.css' rel='stylesheet'>
<link href="css/vendors.css" rel="stylesheet">
<link href="css/aya.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<meta charset="utf-8">
<body>
<div class="container">
<div class="slider">
  

      <div class="slide active-slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Description </h1>
              <p>This image is to show you details about this dress</p>
              
             
            </div>
            <div class="slide-img col-xs-7">
             <!--  <img src="http://i61.tinypic.com/241jspz.jpg" border="0" alt="Image and video hosting by TinyPic"> -->
            <img src="/assets/bride_1.jpg">
            
            
            
            </div>
          </div>
        </div>      
      </div>

      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Description</h1>
              
              <p>This image is to show you details about this dress</p>
              
            </div>
            <div class="slide-img col-xs-7">
             <img src="/assets/bride_4.jpg" >
            </div>
          </div>
        </div>      
      </div> 



<div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>description</h1>
              
              <p>This image is to show you details about this dress</p>
               
            </div>
            <div class="slide-img col-xs-7">
             <img src="/assets/bride_111.jpg" >
            </div>
          </div>
        </div>      
      </div> 


<div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Wedding Dresses</h1>
              
              <p>This image is to show you details about this dress</p>
              
            </div>
            <div class="slide-img col-xs-7">
             <img src="/assets/bride_30.jpg" >
            </div>
          </div>
        </div>      
      </div> 
</div>

 <div class="slider-nav">
      <a href="#" class="arrow-prev"><img src="/assets/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><img src="/assets/arrow-next.png"></a>
    </div> 


<div class="row">
<div class="col-sm-4">
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
<div class="box">
<div id="box53100"></div>
<p><strong> CONTACT US!</strong>
<p>
<%= @vendor.address %>
</p>
<p>
<%= @vendor.telephone %>
</p>
<p>
<%= @vendor.mobile %>
</p>
<p>
<%= @vendor.email %>
</p>
</p>
</div>
</div>
</div>
</body>
</html>
<% if @vendor.entry != "Suit" %>
<% if @vendor.entry != "Dress" %>
<% @vendor.packages.each do |package| %>
<strong>name:</strong>
<%= package.name%><br>
<strong>price:</strong>
<%= package.price%><br>
<strong>description:</strong>
<%= package.description%><br><br>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to 'Delete Package', [package.vendor, package],
method: :delete,
data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit Package', edit_vendor_package_path(@vendor, package) %> <br><br>
</p>
<% end %>
<% end %>
<% end %>
</p>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= form_for([@vendor, @vendor.packages.build]) do |f| %>
<p>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :price %><br>
<%= f.text_area :price %>
</p>
<p>
<%= f.label :description %><br>
<%= f.text_field :description %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<% end %>
<% end %>
<%end%>
<%end%>
<% if @vendor.entry != "Dj" %>
<% @vendor.samples.each do |sample| %>

<p>
<%= image_tag sample.image.url(:small) %><br>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to 'Delete Sample', [sample.vendor, sample],
method: :delete,
data: { confirm: 'Are you sure?' } %><br><br>
<% end %>
<% end %>
<% end %>
</p>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= form_for([@vendor, @vendor.samples.build]) do |f| %>

<p>
<%= f.file_field :image %>
<%= f.submit %>
</p>
<% end %>
<% end %>
<% end %>
<%end%>
<% if @vendor.entry == "Suit" || @vendor.entry == "Dress" %>
<% @vendor.brands.each do |brand| %>
<strong>name:</strong>
<%=brand.bName%><br>
<strong>Designer:</strong>
<%= brand.designer%><br>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to 'Delete Brand', [brand.vendor, brand],
method: :delete,
data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit Package', edit_vendor_brand_path(@vendor, brand) %> <br><br>
</p>
<% end %>
<% end %>
<% end %>
</p>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= form_for([@vendor, @vendor.brands.build]) do |f| %>
<p>
<p>
<%= f.label :name %><br>
<%= f.text_field :bName %>
</p>
<p>
<%= f.label :Designer %><br>
<%= f.text_area :designer %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<% end %>
<% end %>
<%end%>
<h2>Comments</h2>
<% @vendor.comments.each do |comment| %>
<p>
<%= comment.body %>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to 'Delete Comment', [comment.vendor,comment],
method: :delete,
data: { confirm: 'Are you sure?' } %>
<br><br>
</p>
<% end %>
<% end %>
</p>
<% end %>
<h2>Add a comment:</h2>
<%= form_for([@vendor, @vendor.comments.build]) do |f| %>
<p>
<p>
<%= f.label :Comment %><br>
<%= f.text_field :body %>
</p>
<%= f.submit %>
<%end%>
<script src="js/bootstrap.min.js"></script>
<script src="js/vvv.js"></script>

    