<% @vendor.samples.each do |sample| %>
  <p>
  	<%= image_tag sample.image.url(:small) %><br>
<% if user_signed_in? %>
<% if current_user.admin? %>
  	 <%= link_to 'Delete Sample', [sample.vendor, sample],
               method: :delete,
               data: { confirm: 'Are you sure?' } %><br><br>
<% end %>
<% end %>
<% end %>
</p>
<% if user_signed_in? %>
<% if current_user.admin? %>
  <%= form_for([@vendor, @vendor.samples.build]) do |f| %>
  <p>
     <%= f.file_field :image %>  
  <%= f.submit %> 
  </p>

<% end %>
<% end %>
<% end %>


