<html lang="en">

    <link href='css/fontfamily.css' rel='stylesheet'>
      <link href="css/vendors.css" rel="stylesheet">
      <link href="css/aya.css" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <meta charset="utf-8">
    
<div class = "row">

    <script src="https://apis.google.com/js/platform.js" async defer>
    </script>
    
      <div class="g-plus" data-action="share" >
      </div>
      <div id="fb-root" ></div>
      <script>(function(d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) return;
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
               fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-share-button" data-href="https://sprint2-salmaadel1.c9.io/" data-layout="button_count" >
      </div>
      <a class="twitter-share-button" href="https://twitter.com/share"  >
        Tweet
      </a>
      <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};
        if(d.getElementById(id))return;
        js=d.createElement(s);js.id=id;
        js.src="https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
        t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
      </script>
     </div>
    
 
<section>
<div class="container">
  <div class="slider1">
       <h1> <%= @vendor.name %></h1>
    <% @vendor.samples.each do |sample| %>
      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Description</h1> <br>

            </div>
            <div class="slide-img col-xs-3">
              <%= image_tag sample.image.url(:small) %>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
              <% if user_signed_in? %> 
                <% if current_user.admin? %>
                  <%= link_to 'Delete Sample', [sample.vendor, sample],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br><br>
                  <% end %>
                <% end %></div>
          </div>
        </div>      
      </div>
    <% end %>
              
            
  </div> 

  <div class="slider-nav1">
      <a href="#" class="arrow-prev"><img src="/assets/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><img src="/assets/arrow-next.png"></a>
    </div> 
       </div>      
</section>

     

            <aside>
 
             <div class="row">
               
               <div class="col-sm-4">        
               </div>
               <div class="col-sm-4">        
               </div>
               <div class="col-sm-4"> 
                 <div class="box">
                   <div id="box53100"></div>
                     <strong> CONTACT US!</strong>
                       <p>
                         <img src = "/assets/heartrate.png">
                           <h>(</h><%= @vendor.avg_rating%><h>)</h>
                       </p>
                       <p>
                         <%= @vendor.location %>
                       </p>
                       <p>
                         <%= @vendor.address %>
                       </p>
                       <p>
                         <%= @vendor.telephone %>
                       </p>
                       <p>
                         <%= @vendor.mobile %>
                       </p>
                       <p>
                         <%= @vendor.email %>
                       </p>
                       <p>
                         <% if @vendor.entry == "Villa" %>
                           <h>Up to</h><%= @vendor.capacity %>  <h>Guests</h>
                         <% end %>
                       </p>
                        <p>
                          <% if @vendor.entry == "Yacht" %>
                             <h>Up to</h><%= @vendor.capacity %>  <h>Guests</h> 
                          <% end %>
                        </p>
                        <p>
                          <% if @vendor.entry == "Hall"  %>
                             <h>Up to</h><%= @vendor.capacity %>  <h>Guests</h> </br>
                              <% if @vendor.stars == 1 %>
                                <p> <img src="/assets/star-on.png"></p>
                              <%end%>
                              <% if @vendor.stars == 2 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 3 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 4 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 5 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                          <% end %>
                        </p>
                        <p>
                          <% if @vendor.entry == "Garden" %>
                             <h>Up to</h> <%= @vendor.capacity %> 
                            <% if @vendor.stars == 1 %>
                                <p> <img src="/assets/star-on.png"></p>
                              <%end%>
                              <% if @vendor.stars == 2 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 3 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 4 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 5 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                          <% end %>
                        </p>
                    </div>
                 </div>
             </div>
     </aside>



  <footer>

     <% if @vendor.rate (current_user.email)  %>
    <img src="/assets/blank.png">
    <%= form_for([@vendor, @vendor.ratings.build]) do |f| %>
      <%= f.collection_select :score, Rating::SCORES, :to_s, :to_s %>
      <%= image_submit_tag("rateus.png", :id => "rate") %>
      <% end %>
     <% end %>
</footer>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vvv.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          main();
        $(".slide").first().addClass('active-slide');
                    });
    </script>
    </div>
  </body>


  <footer>
<ul class="tabs">
  <li class="active" rel="tab1"> <h4><font face ="Papyrus" size = "6" > Comments 👰 </font> </h4> </li>
    <% if @vendor.entry != "Suit" %>
   <% if @vendor.entry != "Dress" %>
  <li rel="tab2"> <h4><font face ="Papyrus" size = "6" ><%= @vendor.name %> Packages 💍 </font> </h4>  </li>
  <% end %>
  <% end %>
    <% if @vendor.entry == "Suit" || @vendor.entry == "Dress" %>
  <li rel="tab3">  <h4><font face ="Papyrus" size = "6" > Brands ♛ </font> </h4> </li>
  <% end %>
</ul>
<div class="tab_container">
  <h3 class="d_active tab_drawer_heading" rel="tab1">  </h3>
  <div id="tab1" class="tab_content">

    <p>  <%= render 'comments/comment' %> </p>
  </div>
  <!-- #tab1 -->
<% if @vendor.entry != "Suit" %>
<% if @vendor.entry != "Dress" %>
  <h3 class="tab_drawer_heading" rel="tab2"> </h3>
  <div id="tab2" class="tab_content">
    <p>    
    <% if @vendor.entry != "Suit" %>
   <% if @vendor.entry != "Dress" %>
    <% @vendor.packages.each do |package| %>
      <p style="width:400px;height:130px;box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.49);background-color:rgb(255, 240, 255); overflow:auto"> <br>
       <font face = "Papyrus" size = "5" color = "#D11975"><%= package.name%></font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <font face = "Papyrus" size = "4" color = "#D11975" ><%= package.price%>.LE </font> <br>
       <strong>•</strong>
       <font face = "Bedrock"> <%= package.description%></font><br><br>
      </p>
      <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Delete Package', [package.vendor, package], method: :delete,data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit Package', edit_vendor_package_path(@vendor, package) %> <br><br>
      <% end %>
      <% end %>
      <br><br>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= form_for([@vendor, @vendor.packages.build]) do |f| %>
            <p>
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </p>
            <p>
              <%= f.label :price %><br>
              <%= f.text_area :price %>
            </p>
            <p>
              <%= f.label :description %><br>
              <%= f.text_area :description %>
            </p>
            <p>
              <%= f.submit %>
            </p>
        <% end %>
      <% end %>
    <% end %>
 
      <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= form_for([@vendor, @vendor.samples.build]) do |f| %>
          <p>
            <%= f.file_field :image %>
          </p>    <p>
              <%= f.label :description %><br>
              <%= f.text_area :info %>
            </p>
            <%= f.submit %>
       <% end %>
      <% end %>
    <% end %>
    <% end %>
<% end %>

    </p>
   
  </div>
<% end %>
<% end %>

  <!-- #tab2 -->
     
  <h3 class="tab_drawer_heading" rel="tab3"> Brands </h3>
  

  <div id="tab3" class="tab_content">
    <p>
       <% if @vendor.entry == "Suit" || @vendor.entry == "Dress" %>
    <% @vendor.brands.each do |brand| %>
      <strong>name:</strong>
      <%=brand.bName%><br>
      <strong>Designer:</strong>
      <%= brand.designer%><br>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Delete Brand', [brand.vendor, brand],method: :delete,data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit Brand', edit_vendor_brand_path(@vendor, brand) %> <br><br>
      <% end %>
    <% end %>
  <% end %>
   <% if user_signed_in? %>
     <% if current_user.admin? %>
      <% if !@vendor.isadmin (current_user.email)  %>
       <%= form_for([@vendor, @vendor.brands.build]) do |f| %>
         <p>
           <%= f.label :name %><br>
           <%= f.text_field :bName %>
         </p>
         <p>
           <%= f.label :Designer %><br>
           <%= f.text_field :designer %>
         </p>
         <p>
          <%= f.submit %>
         </p>
       <% end %>
     <% end %>
   <% end %>
   <% end %>
      <% end %>
    </p>
  </div>

  </ul>
  </footer>
   
  <h2>Admin</h2>
<%= form_for([@vendor, @vendor.adminsters.build]) do |f| %>
  <p>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "is admin" %>
  </p>
<% end %>

<script>
 $(".tab_content").hide();
    $(".tab_content:first").show();

  /* if in tab mode */
    $("ul.tabs li").click(function() {
		
      $(".tab_content").hide();
      var activeTab = $(this).attr("rel"); 
      $("#"+activeTab).fadeIn();		
		
      $("ul.tabs li").removeClass("active");
      $(this).addClass("active");

	  $(".tab_drawer_heading").removeClass("d_active");
	  $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
	  
    });
	/* if in drawer mode */
	$(".tab_drawer_heading").click(function() {
      
      $(".tab_content").hide();
      var d_activeTab = $(this).attr("rel"); 
      $("#"+d_activeTab).fadeIn();
	  
	  $(".tab_drawer_heading").removeClass("d_active");
      $(this).addClass("d_active");
	  
	  $("ul.tabs li").removeClass("active");
	  $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });
	
	
	/* Extra class "tab_last" 
	   to add border to right side
	   of last tab */
	$('ul.tabs li').last().addClass("tab_last");
	</script>
	</html>