<html lang="en">
  <head>
    <link href='css/fontfamily.css' rel='stylesheet'>
      <link href="css/vendors.css" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <meta charset="utf-8">
    <body>
      <script src="https://apis.google.com/js/platform.js" async defer>
      </script>
      <div class="g-plus" data-action="share">
      </div>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) return;
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
               fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-share-button" data-href="https://sprint2-salmaadel1.c9.io/" data-layout="button_count">
      </div>
      <a class="twitter-share-button" href="https://twitter.com/share">
        Tweet
      </a>
      <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};
        if(d.getElementById(id))return;
        js=d.createElement(s);js.id=id;
        js.src="https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
        t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
      </script>

<div class="container">
  <div class="slider">
       <h1> <%= @vendor.name %></h1>
    <% @vendor.samples.each do |sample| %>
      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Description</h1> <br>
                   <%= sample.info%><br> 
            
            </div>
            <div class="slide-img col-xs-3">
              <%= image_tag sample.image.url(:small) %>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
              <% if user_signed_in? %> 
                <% if current_user.admin? %>
                  <%= link_to 'Delete Sample', [sample.vendor, sample],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br><br>
                  <% end %>
                <% end %></div>
          </div>
        </div>      
      </div>
    <% end %>
              
            
  </div> 
  <div class="slider-nav">
      <a href="#" class="arrow-prev"><img src="/assets/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><img src="/assets/arrow-next.png"></a>
    </div> 
             
           </div>
             <div class="row">
               <div class="col-sm-4">        
               </div>
               <div class="col-sm-4">        
               </div>
               <div class="col-sm-4"> 
                 <div class="box">
                   <div id="box53100"></div>
                     <strong> CONTACT US!</strong>
                       <p>
                         <img src = "/assets/heartrate.png">
                           <h>(</h><%= @vendor.avg_rating%><h>)</h>
                       </p>
                       <p>
                         <%= @vendor.location %>
                       </p>
                       <p>
                         <%= @vendor.address %>
                       </p>
                       <p>
                         <%= @vendor.telephone %>
                       </p>
                       <p>
                         <%= @vendor.mobile %>
                       </p>
                       <p>
                         <%= @vendor.email %>
                       </p>
                       <p>
                         <% if @vendor.entry == "Villa" %>
                           <h>Up to</h><%= @vendor.capacity %>  <h>Guests</h>
                         <% end %>
                       </p>
                        <p>
                          <% if @vendor.entry == "Yacht" %>
                             <h>Up to</h><%= @vendor.capacity %>  <h>Guests</h> 
                          <% end %>
                        </p>
                        <p>
                          <% if @vendor.entry == "Hall"  %>
                             <h>Up to</h><%= @vendor.capacity %>  <h>Guests</h> </br>
                              <% if @vendor.stars == 1 %>
                                <p> <img src="/assets/star-on.png"></p>
                              <%end%>
                              <% if @vendor.stars == 2 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 3 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 4 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 5 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                          <% end %>
                        </p>
                        <p>
                          <% if @vendor.entry == "Garden" %>
                             <h>Up to</h> <%= @vendor.capacity %> 
                            <% if @vendor.stars == 1 %>
                                <p> <img src="/assets/star-on.png"></p>
                              <%end%>
                              <% if @vendor.stars == 2 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 3 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 4 %>
                                <p>
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                              <% if @vendor.stars == 5 %>
                                <p> 
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                  <img src="/assets/star-on.png">
                                </p>
                              <%end%>
                          <% end %>
                        </p>
                    </div>
                 </div>
             </div>
      
     
 <% if @vendor.entry != "Suit" %>
  <% if @vendor.entry != "Dress" %>
    <% @vendor.packages.each do |package| %>
      <strong>name:</strong>
        <%= package.name%><br>
      <strong>price:</strong>
        <%= package.price%><br>
      <strong>description:</strong>
        <%= package.description%><br><br>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Delete Package', [package.vendor, package], method: :delete,data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit Package', edit_vendor_package_path(@vendor, package) %> <br><br>
      <% end %>
   <% end %>
   <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= form_for([@vendor, @vendor.packages.build]) do |f| %>
            <p>
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </p>
            <p>
              <%= f.label :price %><br>
              <%= f.text_area :price %>
            </p>
            <p>
              <%= f.label :description %><br>
              <%= f.text_area :description %>
            </p>
            <p>
              <%= f.submit %>
            </p>
        <% end %>
      <% end %>
    <% end %>
  <%end%>
  <%end%>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= form_for([@vendor, @vendor.samples.build]) do |f| %>
          <p>
            <%= f.file_field :image %>
          </p>    <p>
              <%= f.label :description %><br>
              <%= f.text_area :info %>
            </p>
            <%= f.submit %>
       <% end %>
      <% end %>
    <% end %>
  <% if @vendor.entry == "Suit" || @vendor.entry == "Dress" %>
    <% @vendor.brands.each do |brand| %>
      <strong>name:</strong>
      <%=brand.bName%><br>
      <strong>Designer:</strong>
      <%= brand.designer%><br>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Delete Brand', [brand.vendor, brand],method: :delete,data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit Package', edit_vendor_brand_path(@vendor, brand) %> <br><br>
      <% end %>
    <% end %>
  <% end %>
   <% if user_signed_in? %>
     <% if current_user.admin? %>
       <%= form_for([@vendor, @vendor.brands.build]) do |f| %>
         <p>
           <%= f.label :name %><br>
           <%= f.text_field :bName %>
         </p>
         <p>
           <%= f.label :Designer %><br>
           <%= f.text_field :designer %>
         </p>
         <p>
          <%= f.submit %>
         </p>
       <% end %>
     <% end %>
   <% end %>
  <%end%>
  <% if @vendor.rate (current_user.email)  %>
    <img src="/assets/blank.png">
    <%= form_for([@vendor, @vendor.ratings.build]) do |f| %>
      <%= f.collection_select :score, Rating::SCORES, :to_s, :to_s %>
      <%= image_submit_tag("rateus.png", :id => "rate") %>
      
    <%end%>
  <%end%>
    
 <%= render 'comments/comment' %>
  
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vvv.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          main();
        $(".slide").first().addClass('active-slide');
                    });
    </script>
  </body>
</html>
  

  
